@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  list-style-type: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

html {
  box-sizing: border-box;
}

:root {
  --primary-1: #ff4500;
  --black: #111;
  --black-pure: #000;
  --light-1: beige;
  --light-2: khaki; 
  --grey-2: #333;
  --grey-7: #ccc;
  --grey-9: #eee;
  --red-1: darkred;
  --yellow-2: goldenrod;
  --yellow-3: gold;
  --sky-blue: skyblue;

  --border-r-1: 8px;
  --border-r-2: 6px;
  --border-r-3: 4px;

  --box-shad-1: rgba(0, 0, 0, 0.9);
  --box-shad-2: rgba(0, 0, 0, 0.6);
  --box-shad-3: rgba(0, 0, 0, 0.3);

  --padding-xl: 9px 18px;
  --padding-l: 7px 14px;
  --padding-m: 5px 10px;
  --padding-s: 3px 6px;
  --padding-xs: 2px 3px;

  --margin-l: 10px;
  --margin-m: 7px;
  --margin-s: 4px;

  --font-sans: 'Mulish', sans-serif;

  --h1-size: 34px;
  --h2-size: 30px;
  --h3-size: 26px;
  --h4-size: 22px;
  --h5-size: 20px;
  --h6-size: 18px;
  
  --btn-1-size: 28px;
  --btn-2-size: 26px;
  --btn-3-size: 24px;
  --btn-4-size: 22px;
  --btn-5-size: 20px;
  --btn-6-size: 18px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
}

h6 {
  font-size: var(--h6-size);  
}

h1, h2 {
  font-weight: 600;
}

h3, h4 {
  font-weight: 500;
}

h5, h6 {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6,
.btn-1, .btn-2, .btn-3,
.btn-4, .btn-5, .btn-6 {
  font-family: var(--font-sans);
  text-transform: uppercase;
}

.btn-1, .btn-2, .btn-3,
.btn-4, .btn-5, .btn-6 {
  border: none;
}

.btn-1,
.btn-2 {
  font-weight: 600;
  padding: var(--padding-l);
  border-radius: var(--border-r-1);
  margin: var(--margin-l);
}

.btn-1 {
  font-size: var(--btn-1-size);
}

.btn-2 {
  font-size: var(--btn-2-size);
}

.btn-3,
.btn-4 {
  font-weight: 500;
  padding: var(--padding-m);
  border-radius: var(--border-r-2);
  margin: var(--margin-m);
}

.btn-3 {
  font-size: var(--btn-3-size);
}

.btn-4 {
  font-size: var(--btn-4-size);
}

.btn-5,
.btn-6 {
  font-weight: 400;
  padding: var(--padding-s);
  border-radius: var(--border-r-3);
  margin: var(--margin-s);
}

.btn-5 {
  font-size: var(--btn-5-size);
}

.btn-6 {
  font-size: var(--btn-6-size);
}

.btn-dark {
  color: var(--white);
  background-color: var(--black);    
}

.btn-light {
  color: var(--black);
  background-color: var(--white);    
}

.btn-orange-light {
  color: var(--black-pure);
  background-color: var(--primary-1);    
}

.btn-orange-dark {
  color: var(--primary-1);
  background-color: var(--black-pure);    
}

.btn-blue {
  color: var(--white-pure);
  background-color: var(--blue-2);    
}

.btn-red {
  color: var(--white-pure);
  background-color: var(--red-2);    
}

.back-1 {
  padding: var(--padding-xl);
  margin: 30px 40px;
  background-color: var(--yellow-5);
}

.back-2 {
  padding: var(--padding-xl);
  margin: 30px 40px;
  background-color: var(--black-pure);
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover,
.btn-4:hover,
.btn-5:hover,
.btn-6:hover {
  opacity: 0.85;
}

body {
  width: 100%;
  height: 100vh;
  font-family: var(--font-sans);  
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)),
    url('./images/bg.jpg') no-repeat center;
  background-size: cover;
}

h1 {
  color: var(--primary-1);
  padding: 20px;
  background: var(--black);
  text-align: center;
  width: 350px;
  margin: 20px auto 10px;
  user-select: none;
  border-radius: var(--border-r-3);
  border: 1px solid var(--primary-1);
  box-shadow: var(--box-shad-1);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--primary-1);
}

.item {
  background: var(--black);
}

a {
  font-size: 20px;
  font-weight: 700; 
}

a:link,
a:visited {
  color: var(--black-pure);
}

a:hover,
a:active {
  color: var(--yellow-3);
}

.fa-times {
  float: right;
  z-index: 2;
}

.name {
  margin-top: 20px;
  margin-right: 20px;
}

.name-img {
  height: 20px;
  width: 20px;
  vertical-align: sub;
  margin-right: 5px;
}

.modal-container {
  background: var(--black);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal {
  background: var(--black);
  box-shadow: var(--box-shad-1);
  max-width: 95%;
  width: 500px;
  border-radius: var(--border-r-3);
  border: 1px solid var(--primary-1);
  animation: modalopen 1s ease-in;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close-icon {
  float: right;
  color: var(--primary-1);
  font-size: 24px;
  position: relative;
  top: 13px;
  right: 13px;
}

.modal-header {
  background: var(--primary-1);
  color: var(--black);
  padding: 15px;
}

h3 {
  margin: 0;
  color: orangered;
}

.form-input {
  width: 97%;
  padding: var(--padding-m);
  border: 1px solid var(--primary-1);
  border-radius: var(--border-r-3);
  display: block;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
